body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .container {
    margin: 0;
    text-align: center;
    justify-content: left;
    border-radius: 15px;
    display: table;
  }
  h2 {
    float: left;
    padding-right: 10px;
    margin-right: 1px;

  }
  textarea{

  }
  h2,
  textarea, 
  button{
    display: table-column;

  }
  #red{
    background-color: red;
  }
  #blue{
    background-color: rgb(255, 0, 89);
  }
  #green{
    background-color: green;
  }
  #purple{
    background-color: purple;
  }
  
  