*{
   box-sizing: border-box;
   margin: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aliceblue;
  }
  
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .container {
    background-color: #c5c1d7cc; 
    width: 100%;
  }
  .title {
    height: 2rem;
    border: rgb(13, 13, 13) solid 4px;
    text-align: center;
    color: #374151;

  }
  .time-card {
    border: rgb(13, 13, 13) solid 4px;
    height: 3rem;
    text-align: center;
  }
  #time-slot {
    border: rgb(13, 13, 13) solid 4px;
    margin-right: none;
    width: 8rem;
    font-size: 18pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #ec4381;
  }
  textarea {
    margin-left: none;
    width: 25rem;
    background-color: #c5c1d7cc; 
    border: none;
    color: #374151;
  }
  .colorchoice {
    width: 15rem;
    align-items: center;
  }
  button {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    margin: auto 4px;
  }
  .btn-purple {
    background-color: blueviolet;
  }
  .btn-red {
    background-color: red;
  }
  .btn-green {
    background-color: rgb(14, 151, 106);  
  }

  .btn-purple:hover{
    background-color: rgb(152, 101, 199);
  }
  .btn-red:hover {
    background-color: rgb(189, 85, 85);
  }
  .btn-green:hover {
    background-color: rgb(110, 202, 171);  
  }




  /* .colorchoice,
  textarea {
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }
  .colorchoice,
  textarea{
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 14pt;
  }
 .time-box {
  padding: 1rem;
 }
 .time-box,
 h2{
  margin-bottom: 1rem;
 }
 .time-box textarea{
  display: flex;
  justify-content: space-between;
 }
   */
  #red{
    background-color: red;
  }
  #green{
background-color: rgb(14, 151, 106);  }
  #purple{
    background-color: blueviolet;
  }
  
  